@Styles.Render("~/Assets/Css/main.css")
<footer class="footer">
    <div class="grid">

        <div class="grid__row">
            <div class="grid__column-2-5">
                <h3 class="footer__heading">Chăm sóc khách hàng</h3>
                <ul class="footer__list">
                    <li class="footer__list-item">
                        <a href="" class="footer__list-item-link">Trung tâm trợ giúp</a>
                    </li>
                    <li class="footer__list-item">
                        <a href="" class="footer__list-item-link">HUFLIT mall</a>
                    </li>
                    <li class="footer__list-item">
                        <a href="" class="footer__list-item-link">Hướng dẫn mua hàng</a>
                    </li>
                </ul>
            </div>
            <div class="grid__column-2-5">
                <h3 class="footer__heading">Giới thiệu</h3>
                <ul class="footer__list">
                    <li class="footer__list-item">
                        <a href="" class="footer__list-item-link">Giới thiệu</a>
                    </li>
                    <li class="footer__list-item">
                        <a href="" class="footer__list-item-link">Tuyển dụng</a>
                    </li>
                    <li class="footer__list-item">
                        <a href="" class="footer__list-item-link">Điều khoản</a>
                    </li>
                </ul>
            </div>
            <div class="grid__column-2-5">
                <h3 class="footer__heading">Danh mục</h3>
                <ul class="footer__list">
                    <li class="footer__list-item">
                        <a href="@Url.Action("Index","Home", new {sort = "Apple" })" class="footer__list-item-link">Apple</a>
                    </li>
                    <li class="footer__list-item">
                        <a href="@Url.Action("Index","Home", new {sort = "Samsung" })" class="footer__list-item-link">Samsung</a>
                    </li>
                    <li class="footer__list-item">
                        <a href="@Url.Action("Index","Home", new {sort = "Oppo" })" class="footer__list-item-link">Oppo</a>
                    </li>
                </ul>
            </div>
            <div class="grid__column-2-5">
                <h3 class="footer__heading">Theo dõi chúng tôi</h3>
                <ul class="social_media">
                    <li style="--i:#5599ff;--j: #51dcff;">
                        <span class="icon"><i class="fab fa-facebook"></i></span>
                        <a href="https://www.facebook.com/ttnhan12" class="titulo">Facebook</a>
                    </li>
                    <li style="--i:#a955ff;--j: #ea51ff;">
                        <span class="icon"><i class="fab fa-instagram"></i></span>
                        <a href="https://www.instagram.com/tnhannn___/" class="titulo">Instagram</a>
                    </li>
                    <li style="--i:#7455ff;--j: #a251ff;">
                        <span class="icon"><i class="fab fa-linkedin"></i></span>
                        <span class="titulo">Linkedin</span>
                    </li>
                </ul>
            </div>
            <div class="grid__column-2-5">
                <h3 class="footer__heading">Vào cửa hàng trên ứng dụng</h3>
                <div class="footer__download">
                    <img src="/assets/img/qr_code.png" alt="Download QR" class="footer_download-qr">
                    <div class="footer__download-apps">
                        <a href="" class="footer__download-apps-link">
                            <img src="/assets/img/google_play.png" alt="Google play" class="footer__download-app-img">
                        </a>
                        <a href="" class="footer__download-apps-link">
                            <img src="/assets/img/app_store.png" alt="App store" class="footer__download-app-img">
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="footer__bottom">
            <div class="grid">
                <p class="footer__text">© 2023 - Bản quyền thuộc về HUFLIT</p>
            </div>
        </div>

    </div>
</footer>
