
@{
    ViewBag.Title = "Đặt hàng thành công";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="grid app__content" style="height: 40vh; margin-top: 30px">
    <h2 style="text-align:center">Đặt hàng thành công. Chúng tôi sẽ xác nhận và liên hệ cho bạn sớm nhất và giao hàng đúng hẹn</h2>
    <p style="text-align:center">@Html.ActionLink("Về trang chủ", "Index", "Home", new { @class = "btn btn--primary" })</p>
</div>


