@model Nike.Models.Order

@{
    ViewBag.Title = "Hủy đơn hàng";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="grid center" style="height: 50vh">
    <div>


        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <div class="form-actions no-color">
                <h2 style="text-align:center; border: 1px solid var(--primary-color ); padding: 8px">Xác nhận hủy đơn hàng</h2>
                <input type="submit" value="Hủy đơn hàng" class="btn btn--danger" /> 
                @Html.ActionLink("Quay về", "OrderList", null, new { @class = "btn btn--primary" })
            </div>
        }
    </div>
</div>