
@model Nike.Models.NhanVien

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_layoutadmin.cshtml";
}



<div class="confirm__delete">
    <h3>Bạn có chắc muốn xóa đi nhân viên này ?</h3>
    <hr />

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-save" />
            @Html.ActionLink("Quay về", "Index", null, new { @class = "btn btn-cancel" })
        </div>
    }
</div>

<style>
    .confirm__delete {
        padding: 250px 300px;
        background-color: rgb(166 200 236);
    }
</style>